<md-subheader class="md-no-sticky">Calculadora</md-subheader>

<md-content>

    <md-card>
        <md-card-content layout="column">
            <form name="calculator">
                <br>
                <input type="textfield" name="answer" ng-model="answer">
                <br>
                <input type="button" value="MC" onClick="document.calculator.ans.value+='1'">
                <input type="button" value="M+" onClick="document.calculator.ans.value+='2'">
                <input type="button" value="M-" onClick="document.calculator.ans.value+='3'">
                <input type="button" value="MS" onClick="document.calculator.ans.value+='+'">
                <br>
                <input type="button" value="CE" onClick="document.calculator.ans.value+='7'">
                <input type="reset" value="C">
                <input type="button" value="<-">
                <input type="button" ng-click="setOperador('/')">
                <br>d
                <input type="button" value="7" onClick="document.calculator.ans.value+='7'">
                <input type="button" value="8" onClick="document.calculator.ans.value+='8'">
                <input type="button" value="9" onClick="document.calculator.ans.value+='9'">
                <input type="button" value="X" onClick="document.calculator.ans.value+='*'">
                <br>
                <input type="button" value="4" onClick="document.calculator.ans.value+='4'">
                <input type="button" value="5" onClick="document.calculator.ans.value+='5'">
                <input type="button" value="6" onClick="document.calculator.ans.value+='6'">
                <input type="button" value="-" onClick="document.calculator.ans.value+='-'">
                <br>
                <input type="button" value="1" onClick="document.calculator.ans.value+='1'">
                <input type="button" value="2" onClick="document.calculator.ans.value+='2'">
                <input type="button" value="3" onClick="document.calculator.ans.value+='3'">
                <input type="button" value="+" onClick="document.calculator.ans.value+='+'">
                <br>
                <input type="button" value=" ">
                <input type="button" value="0" onClick="document.calculator.ans.value+='0'">
                <input type="button" value="." onClick="document.calculator.ans.value+='.'">
                <input type="button" value="=" class="equals" onClick="document.calculator.ans.value=eval(document.calculator.ans.value)">
            </form>
        </md-card-content>
    </md-card>

</md-content>